@{
    ViewData["Title"] = "Reset password Page";
}

<div class="text-center">
    <h1 class="display-4">Reset your Password</h1>
    <form asp-controller="Auth" asp-action="ResetPassword">
        <input class="field" type="text" name="email" placeholder="Email" />
        <input class="field" type="text" name="newPassword" placeholder="New password" />
        <input class="field" type="text" name="confirmPassword" placeholder="Confirm password" />
        <div class="form-group">
            <input type="submit" value="Reset Password" />
        </div>
    </form>
</div>

