@{
    ViewData["Title"] = "Home Page";
}
<div class="cover-section">
    <canvas id="mainCanvas" class="cover-photo" width="500" height="250"></canvas>
    <h3>Hello @ViewData["UserName"]! What do you want to do?</h3>
</div>
<section class="aside-section">
    <aside class="aside-container">
        <a asp-controller="Movies" asp-action="Index" class="link">View All Movies</a>
    </aside>
    <aside class="aside-container">
		<a asp-controller="Movies" asp-action="WatchList" class="link">My WatchList</a>
    </aside>
    @if (Convert.ToBoolean(ViewData["IsUserAdmin"]))
    {
        <aside class="aside-container">
            <a asp-controller="Users" asp-action="Index" class="link">Manage Users</a>
        </aside>
    }    
    @if (Convert.ToBoolean(ViewData["IsUserAdmin"]))
    {
        <aside class="aside-container">
            <a asp-controller="Statistics" asp-action="Index" class="link">See Some Statistics</a>
        </aside>
    }
    </section>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    var canvas = $('#mainCanvas')[0];
    var ctx = canvas.getContext('2d');

    function insertImage() {
        image = new Image();
        image.src = 'images/MovieTime.png';
        image.onload = function () {
            ctx.drawImage(image, 0, 0, 504, 250);
        }
    }

    insertImage();
</script>